<div class="login-layout" nz-row nzJustify="center" nzAlign="middle">
  <div nz-col nzXs="24" nzMd="6">
    <nz-card nzTitle="Time Card Management System">
      <form
        nz-form
        class="login-form"
        [formGroup]="loginForm"
        (ngSubmit)="submitLogin()"
      >
        <nz-form-item>
          <nz-form-control
            [nzValidateStatus]="email.touched && email.invalid ? 'error' : ''"
            [nzErrorTip]="
              email.hasError('required')
                ? 'กรุณาระบุอีเมลของคุณ!'
                : 'รูปแแบบอีเมลไม่ถูกต้อง!'
            "
          >
            <nz-input-group nzPrefixIcon="mail">
              <input
                type="email"
                nz-input
                formControlName="email"
                placeholder="อีเมลของคุณ"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control
            [nzValidateStatus]="
              password.touched && password.invalid ? 'error' : ''
            "
            [nzErrorTip]="
              password.hasError('required')
                ? 'กรุณาเลือกระบุรหัสผ่าน!'
                : 'รหัสผ่านต้องมีอยู่น้อย 8 ตัวอักขระ!'
            "
          >
            <nz-input-group nzPrefixIcon="lock">
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="รหัสผานของคุณ"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
          <!-- <div nz-col [nzSpan]="24">
            <a class="login-form-forgot">Forgot password</a>
          </div> -->
        </div>
        <button
          type="submit"
          nz-button
          nzType="primary"
          class="login-form-button login-form-margin"
        >
          <span nz-icon nzType="login"></span
          >&nbsp;เข้าสู่ระบบ
        </button>
      </form>
    </nz-card>
  </div>
</div>
