<nz-layout
  class="app-layout"
  *ngIf="isLogin$ | async as loginData; else loginTemplate"
>
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Time Card System</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></span>
        </span>
        <div class="header-avatar">
          <button
            class="profile-button"
            nz-button
            nz-popover
            [nzPopoverTitle]="'โปรไฟล์ของคุณ'"
            [nzPopoverContent]="contentTemplate"
            [nzPopoverPlacement]="'bottomRight'"
          >
            <nz-avatar [nzSize]="34" nzIcon="user"></nz-avatar>
          </button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #loginTemplate>
  <router-outlet></router-outlet>
</ng-template>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<ng-template #contentTemplate>
  <button
    type="button"
    nz-button
    nzType="primary"
    (click)="onLogout()"
    style="width: 100%"
  >
    <span nz-icon nzType="logout" nzTheme="outline"></span> ออกจากระบบ
  </button>
</ng-template>
